USE [penjualan]
GO
/****** Object:  Table [dbo].[barang]    Script Date: 07/02/2025 17.32.45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barang](
	[KODE] [varchar](256) NOT NULL,
	[NAMA] [varchar](256) NULL,
	[HARGA] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[KODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pelanggan]    Script Date: 07/02/2025 17.32.46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pelanggan](
	[KODE] [varchar](11) NOT NULL,
	[NAMA] [varchar](256) NULL,
	[ALAMAT] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[KODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaksi]    Script Date: 07/02/2025 17.32.46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaksi](
	[KODE] [varchar](256) NOT NULL,
	[TANGGAL] [date] NULL,
	[KODE_PELANGGAN] [varchar](11) NULL,
	[KODE_BARANG] [varchar](256) NULL,
	[JUMLAH_BARANG] [decimal](10, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[KODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[transaksi]  WITH CHECK ADD FOREIGN KEY([KODE_PELANGGAN])
REFERENCES [dbo].[pelanggan] ([KODE])
GO
ALTER TABLE [dbo].[transaksi]  WITH CHECK ADD FOREIGN KEY([KODE_BARANG])
REFERENCES [dbo].[barang] ([KODE])
GO
